VITE_SUPABASE_URL=https://lnesorztqjytavilojru.supabase.co
VITE_SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuZXNvcnp0cWp5dGF2aWxvanJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDU3ODUsImV4cCI6MjA5NjA4MTc4NX0.djKPXnemwXzW25VDg-90ugeZAs4s_lNGRO3pxoR_qbQ
VITE_API_URL=https://newpt-system-backend.onrender.com/api
